section.projekte{
    height: auto;
    padding-bottom: 150px;

    .info{
        width: 100%;
        padding-top: 100px;
        text-align: center;
        color: $color_text_secondary;
    }

    .info h2{
        font-size: 70px;
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .info mark{
        color: $color_primary;
    }
}

@media (max-width: $breakpoint-xs) {
    section.projekte {
        .info h2{
            font-size: 45px;
        }
        
        .info p{
            font-size: 16px;
            width: 80%;
            margin: 0 auto;
        }
    }
}